.test-gulp {
  font-size: 16px;
}

body {
  background: #FFF !important;
}

.writing{
  color: blue;
}

.container {
  width: 80%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.error {
  font-size: 10px;
  color: red;
}