**/*{.,-}min.js
# /node_modules/* and /bower_components/* ignored by default

# Ignore all except the app folder

/coverage/*
/build/*
/node_modules/*
/jasmine/spec/bundle.js
/jasmine/spec/bundle.js.map
/jasmine/lib/**
karma.conf.js
/src/libs/*
webpack.config.js
LICENSE
README.md
package.json